.ant-layout {
  height: 100vh;
}

.dark .ant-layout-content{
  background-color: #000;
}

.site-layout-content {
  min-height: 74vh;
  width: 96%;
  padding: 24px;
  margin: 2% 2% 0 2%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .site-layout-content {
  background-color: #131313;
}

.header{
  display: flex;
}
.theme{
  margin-left: auto;
}
.theme h4{
  color: #c5c5c5;
}
.logo{
  color: #e4e4e4; 
  font-family: "Great Vibes", cursive; 
  font-size: 36px; 
  line-height: 60px; 
  font-weight: normal; 
  text-align: center; 
  margin-right: 3%;
  font-style: italic;
}
.footer{
  text-align: center;
}


.dark .footer {
  background-color: #000;
  color: rgba(255, 255, 255, 0.85)
}



/* spiner */
.spinner-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .spinner-wrapper{
  background-color: #000;
}