
.site-layout-content {
  min-height: 74vh;
  width: 96%;
  padding: 24px;
  margin: 2% 2% 0 2%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  display: flex;
}
.theme{
  margin-left: auto;

}